body {
  margin: 0;
  padding: 0;
  width: 250px;
  height: 700px;
}


.meter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
}

meter {
  transform: rotate(-90deg);
  width: 500px; /* The thickness of the vertical meter */
  height: 100px; /* The height of the vertical meter */
}

meter::-webkit-meter-bar {
  background: lightgray; /* Background of the meter (empty part) */
}

/* Change the color of the value (filled part) */
meter::-webkit-meter-optimum-value {
  background: green; /* When the value is in the "optimum" range */
}

meter::-webkit-meter-suboptimum-value {
  background: yellow; /* When the value is in the "suboptimal" range */
}

meter::-webkit-meter-even-less-good-value {
  background: red; /* When the value is in the "low" range */
}