.meter-container {
  display: flex;
  width: 1000px;
  height: 125px;
  margin-top: 500px;

}

meter {
  transform: rotate(-90deg);
  width: 1000px;
  height: 125px;

}
  
input[type="text"]{
  width:100px;
  height: 50px;
  vertical-align: top;
  }