/* Style.css */




body {
    margin: 10px;
    padding: 10px;
    width: 250px; /* Set the desired width */
    height: 500px; /* Set the desired height */
    background-color: #f0f0f0;
    position: relative; /* Allows absolute positioning of children */
  }


.meter-container{
    position: relative; /* Positions the element relative to the viewport */
    top: 0px; /* Aligns to the top of the viewport */
    right: 100px; 
    left: 0px;
    transform: rotate(-90deg);
    width: 500px;
    height: 35px;
    background-color: rgb(245, 171, 171);
    border-radius: 20px;
    border-color: black;
    overflow: hidden;
    /* position: relative; */
    margin-top: 225px;
    margin-right: 100px;
   }
  
  .meter-fill {
    height: 100%;
    width: 0%; /* Initially set to 0 */
    background: linear-gradient(to right, yellow 0%, orange 25%, red 50%, red 100%); /* Gradient */
    transition: width 0.5s ease; 
    border-radius: 15px;
    position: absolute;
    top: 0;
    left: 0;
  }

/* Center the heart on the page */
  
  .App {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
  
  .content {
    text-align: center;
  }
  
  .graphic {
    max-width: 100%;
    height: auto;
  }
  /* Heart Shape */
  .heart {
    margin-left: 40px;
    position: relative;
    width: 125px;
    height: 125px;
    background-color: red;
    transform: rotate(-45deg);
    animation: beat 1s infinite ease-in-out;
    display: 'none';
  }
  
  /* Create the top-left part of the heart */
  .heart::before,
  .heart::after {
    content: '';
    position: absolute;
    width: 125px;
    height: 125px;
    background-color: red;
    border-radius: 50%;
  }
  
  .heart::before {
    top: -62.5px;
    left: 0;
  }
  
  .heart::after {
      top: 0;
      left: 62.5px;
    }
    
    .heart.show {
        display: block;
        animation: heartAppear 5s forwards;
    }
  /* Heartbeat animation */
  @keyframes beat {
    0%, 100% {
      transform: scale(1) rotate(-45deg);
    }
    50% {
      transform: scale(1.2) rotate(-45deg);
    }
  }  
  @keyframes heartAppear {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* sad face portion */

